<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
			<button class="sections-button">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</button>
			</li>
			<li id="search-modal-btn">
				<button class="search-button">
				<i class="fa fa-search"></i>
				<span>search</span>
				</button>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button class="subscribe-button">
					<span>Subscribe Now</span>
				</button>
			</li>
			<li id="login-modal-btn">
				<button class="login-button">
				<span>Log In</span>
				</button>
			</li>
			<li id="gear-btn">
				<button class="gear-button">
					<i class="fas fa-cog"></i>
				</button>
			</li>
		</ul>
	</nav>
</header>