<section class="masthead">
    <nav class="language-nav">
        <a href="">CSS</a> 
        <a href="">HTML </a>
        <a href="">Javascript </a>
        <a href="">Ruby </a>
    </nav>
    <img class='logo' src='assets/AA_Times_Logo.png'>
    <nav class="masthead-links">
        <ul>
            <li><time>Tuesday, October 18, 2016</time></li>
            <li><button class='clickable'>Today’s Paper</button></li>
            <li><button class='clickable'>Video</button></li>
            <li><button>77°F</button></li>
            <li><button>AAO <label class='number'>+100%</label></button></li>
        </ul>
    </nav>
</section>