<section class="masthead">
    <nav class="language-nav">
        <a href="">CSS</a> 
        <a href="">HTML </a>
        <a href="">Javascript </a>
        <a href="">Ruby </a>
    </nav>
    <img class='logo' src='assets/AA_Times_Logo.png'>
    <nav class="masthead-links">
        <ul>
            <li><time>Tuesday, October 18, 2016</time></li>
            <li class="fade"><i class="far fa-newspaper"></i><button class='clickable'>Today’s Paper</button></li>
            <li class="fade"><i class="fas fa-video"></i><button class='clickable'>Video</button></li>
            <li class="fade"><button>77°F</button></li>
            <li class ="fade"><button>AAO <strong>+100%</strong></button></li>
        </ul>
    </nav>
</section>